/*## LIMPAR FORMATAÇÕES PADRÃO ##*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

:root {
    --body: #dddfe0;
    --header-bg: #ffffff;
    --menu-mobile-bg: #ffffff;
    --menu-mobile-ul: #dddfe0;
    --font-color: #000;
    --span-color: orange;
    --span-color2: #464545;
    --bg:  #ffffff;
    --placeholder-color: gray; 
    --test: #ffffff; 
    --btn-bg: #fff;
    --btn-color: #000;
    --dots-bg: #504e4e;
}

.dark-theme {
    --header-bg: #202020;
    --menu-mobile-bg: #1b1b1b;
    --menu-mobile-ul: #1e1e1e;
    --font-color: #fff;
    --span-color: orange;
    --span-color2: #b3b3b3;
    --bg:  #202020;
    --body: #181818; 
    --test: #000;
    --btn-bg: #000;
    --btn-color: #ccc;
    --dots-bg: #afa9a9;
}

.link-visited {
    color: cyan !important;
}

html, body {
    height: 100%;
}

.clear {
    clear:both
}

/*## LIMPAR FORMATAÇÕES PADRÃO ##*/

body{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: var(--body);
}

.theme_btn {
    position: fixed;
    bottom: 22px;
    right: 20px;
    font-size: 42px;
}

.theme_btn {
    width: 65px;
    height: 65px;
    background: var(--test);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--font-color)
}

.light_theme_btn {
    display: none;
}

/*## CABEÇALHO GERAL ##*/

.cabecalho {
    width: 100%;
    padding: 2rem 2%;
    background-color: var(--header-bg);
    margin-bottom: 18px;
    box-shadow: 1px 1px 6px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho.onScroll {
    width: 100%;
    padding: 1rem 2%;
    background-color: var(--header-bg);
    margin-bottom: 0;
    box-shadow: 1px 1px 6px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.LOGO {
    float: left;
    font-size: 26px;
}

.LOGO a {
    color: var(--font-color);
}

.LOGO span {
    color: var(--span-color);
}

.menu-desktop ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;
    min-width: 100px;
    text-align: center;
}

.menu-desktop ul li a{
    color: var(--font-color);
    font-size: 1.6rem;
    display: block;
    margin: 0 5px;
    border-radius: 2px;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.menu-desktop ul li a:hover {
    color:  cyan;
}

.menu-desktop ul li ul {
    position: absolute;
    left: -4px;
}

.menu-desktop ul ul li {
    border-top: 1px solid rgba(255,255,255,.1);
    background: var(--menu-mobile-ul);
    display: block;
}

.menu-desktop ul li a.jogos-btn i {
    position: absolute;
    top: 20%;
    right: -10px;
    transition: transform .2s linear;
}

.menu-desktop ul li a.jogos-btn i.arrow-rotate {
    transform: translateY(35%) rotate(180deg);
}

.menu-desktop ul ul.jogos-hidden {
    display: none;
}

.menu-desktop ul ul.jogos-show {
    display: block;
}

.menu-desktop ul li a.eletro-btn i {
    position: absolute;
    top: 20%;
    right: -15px;
    transition: transform .2s linear;
}

.menu-desktop ul li a.eletro-btn i.arrow-rotate {
    transform: translateY(35%) rotate(180deg);
}

.menu-desktop ul ul.eletro-hidden {
    display: none;
}

.menu-desktop ul ul.eletro-show {
    display: block;
}

.black-bg {
    display: none;
}

.menu-btn {
    display: none;
}


/*## CABEÇALHO GERAL ##*/

/*## CONTAINER PRINCIPAL ##*/

.container-principal {
    width: 100%;
}

/*## CONTAINER PRINCIPAL ##*/

/*## AREA DE POSTAGEM ##*/

.container-postagem {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.conteudo-postagem {
    background-color: var(--bg);
    padding: 1rem 3rem;
    margin-bottom: 15px;
    border: .6rem solid rgba(128, 128, 128, .2);
    border-radius: 1rem;
    background-clip: padding-box;
}

.conteudo-postagem > h2 {
    color: orange;
    width: 100%;
    text-align: left;
}

.conteudo-postagem > img {
    width: 90%;
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    border: .1rem solid rgba(128, 128, 128, .2);
}

.conteudo-postagem p {
    text-align: justify;
    color: var(--font-color);
    font-size: 1.08rem;
    margin: .8rem 0;
    letter-spacing: .08rem;
}

.conteudo-postagem a {
    color: rgb(255, 166, 0);
    font-size: 1.1rem;
}

.conteudo-postagem a:hover {
    opacity: .4;
    transition: all .15s;
}

.conteudo-postagem span {
    font-weight: bold;
    font-size: 1em;
    margin: 1px 0px 10px 4px;
    display: inline-block;
    width: 100%;
    text-align: left;
    color: var(--span-color2);
}

/* ### FORMULARIO POSTAGEM ## */

.form-postagem {
    text-align: center;
}

.form-postagem > h2 {
    text-align: center;
    margin-bottom: 20px;
}

form.formulario {
    width: 100%;
    max-width: 550px;
    display: inline-block;
}

.form-wraper {
    width: 100%;
    padding: 0 10px;
    margin: 7px 0;
}

.form-wraper input::placeholder {
    color: var(--placeholder-color);
}

.form-wraper input[type=text],input[type=email],input[type=tel] {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    background: none;
    color: var(--font-color);
    border: 3px solid #e67e22;
    border-radius: 4px;
    transition: .3s linear;
    transition-property: border-radius border;
}

.form-wraper input:focus {
    border: 3px solid #d35400;
    border-radius: 8px;
}

.form-wraper textarea::placeholder {
    color: var(--placeholder-color);
}

.form-wraper textarea {
    width: 100%;
    height: 160px;
    resize: none;
    border: 3px solid #e67e22;
    border-radius: 4px;
    background: none;
    color: var(--font-color);
    padding: 7px 10px;
    transition: .3s linear;
    transition-property: border-radius border;
}

.form-wraper textarea:focus {
    border: 3px solid #d35400;
    border-radius: 8px;
}

.form-wraper input[type=submit] {
    padding: 10px 45px;
    border: 3px solid #e67e22;
    border-radius: 4px;
    background: none;
    color: var(--font-color);
    cursor: pointer;
}

.form-wraper input[type=submit]:hover {
    border: 3px solid #d35400;
    background: #d35400;  
}

.w50 {
    width: 50%;
    float: left;
}

/*##### CAROUSEL STYLING ###########*/

.carousel-container {
    text-align: center;
    position: relative;
}

.carousel-content {
    display: none;
    
    
}

.carousel-img-wraper {
    width: 100%;
    height: 100%;
}

.carousel-img-wraper img {
    width: 100%;
    height: 100%;
}

.fade-effect {
    animation: fadeVisible 0.5s;
    
}

.currentSlide {
    display: block;
}

.carousel-img-wraper {
    display: inline-block;
    position: relative;
}

.carousel-container .next-btn {
    right: 1%;
}

.carousel-container .prev-btn {   
    left: 1%;
}

.carousel-container .prev-btn,
.carousel-container .next-btn {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    padding: 0 1%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--body);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.carousel-container .prev-btn:hover,
.carousel-container .next-btn:hover {
    background: var(--btn-bg);
    color: var(--btn-color);
    opacity: 1;
}


.dots {
    text-align: center;
}

span.dot {
    margin: 10px 16px;
    width: 10px;
    height: 10px;
    border: 1px solid var(--font-color);
    border-radius: 50%;
    cursor: pointer;
}

span.dot:hover {
    background: var(--dots-bg);
}

span.dot-active {
    background: var(--font-color)
}

@keyframes fadeVisible {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
        transition: 0.3s ease;
    }
}

/* ### FORMULARIO POSTAGEM ## */

.titulo-sec {
    margin: 1rem 0;
    padding: .7rem 0 ;
}

.titulo-sec {
    color: var(--span-color2);
    font-weight: bold;
    font: 1em;
    margin: 1px 0px 10px 4px;
    border-bottom: 1px solid gray;
}

.lista-postagem {
    padding: 5px 0px 10px 25px;
    color: var(--font-color);
    list-style: white;
}
 
/*## REQUISITOS DE SISTEMA ##*/

.requisito-sistema {
    width: 100%;
}

.minimo {
    width: 50%;
    max-width: 400px;
    font-size: 0.9em;
    float: left;
}

.minimo  > ul > strong{
    color: orange;
}

.minimo  > ul > ul > li > strong{
    color: var(--span-color2);
}

.minimo > ul > ul > li{
    color: orangered;
}

.maximo {
    width: 48%;
    max-width: 400px;
    font-size: 0.9em;
    float: right;
}

.maximo > ul > strong{
    color: orange;
    padding-bottom: .9rem;
}

.maximo > ul > ul > li > strong{
    color: var(--span-color2);
}

.maximo > ul > ul > li{
    color: orangered;
}

   

    /*## RODAPE ##*/

.rodape {
    clear: both;
    width: 100%;
    text-align: center;
    padding: 1.2rem 0;
    color: orange;
}

@media screen and (max-width: 996px){

    .body-overflow {
        overflow: hidden;
    }

    .link-visited {
        color: cyan !important;
        border-left: 2px solid cyan;
    }

    .black-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0,0.5);
    }

    .black-bg-open {
        display:block;
    }

    .menu-btn {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
        display: block;
        color: var(--font-color);
        font-size: 32px;
        margin-right: 5px;
        cursor: pointer;
        transition: right .3s linear;
    }

    .menu-btn-open {
        right: 260px;
        width: 40px;
        height: 40px;
        background: var(--body);
        border: 1px solid white;
        text-align: center;
    }
    
    .menu-btn-open i:hover {
        color: red;
    }

    .menu-btn-open i::before {
        content: '\f00d';
        line-height: 40px;
    }


    .menu-desktop {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background: var(--menu-mobile-bg);
        transition: right .3s linear;
    }

    .menu-desktop.menu-open {
        right: 0;
        z-index: 999999;
    }

    .menu-desktop ul {
        margin-top: 150px;
        background: var(--menu-mobile-ul);
    }

    .menu-desktop ul li{
        list-style-type: none;
        display: block;
        margin: 0;
        line-height: 45px;
        border-top: 1px solid rgba(255,255,255,0.1)
    }

    .menu-desktop ul li:last-child{
        border-bottom: 1px solid rgba(255,255,255,0.5)
    }
    
    .menu-desktop ul li a{
        color: var(--font-color);
        font-size: 1.6rem;
        display: block;
        margin: 0;
        border-radius: 0;
        position: relative;
        padding: 0;
        padding-left: 25px;
    }
    
    .menu-desktop ul li a:hover {
        color:  cyan;
        background: var(--header-bg);
    }
    
    .menu-desktop ul li ul {
        position: static;
        margin-top: 0;
    }
    
    .menu-desktop ul ul li {
        border-top: 1px solid rgba(255,255,255,.1);
        background: var(--menu-mobile-ul);
        display: block;
    }

    .menu-desktop ul ul li a {
        padding-left: 60px;
    }
    
    .menu-desktop ul li a.jogos-btn i {
        position: absolute;
        top: 10%;
        right: 20px;
        transition: transform .2s linear;
    }
    
    .menu-desktop ul li a.jogos-btn i.arrow-rotate {
        transform: translateY(35%) rotate(180deg);
    }

    .menu-desktop ul li a.eletro-btn i {
        position: absolute;
        top: 10%;
        right: 20px;
        transition: transform .2s linear;
    }
    
    .menu-desktop ul ul.jogos-hidden {
        display: none;
    }
    
    .menu-desktop ul ul.jogos-show {
        display: block;
    }

}

@media screen and (max-width: 768px) {


    .container-postagem {
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
    }

    .conteudo-postagem {
        padding: 1rem;
    }
    .conteudo-postagem p {
        letter-spacing: normal;
    }

    .lista-postagem li {
        margin: .5rem 0;
    }

    .minimo {
        width: 100%;
        float: none;
    }

    .minimo li {
        margin: .09rem 0;
    }

    .maximo {
        margin-top: .9rem;
        width: 100%;
        float: none;
    }

    .maximo li {
        margin: .09rem 0;
    }
}

@media screen and (max-width: 500px){

    .cabecalho {
        padding: 30px 4%;
    }
    .form-wraper {
        padding: 0 0;
        margin: 11px 0;
    }

    .w50 {
        float: none;
        width: 100%;
    }

    .rodape {
        font-size: 12px;
    }
}